.container {
	display: flex;
	flex-direction: column;
	gap: var(--size-1);
}

.inputContainer {
	display: flex;
	align-items: center;
	gap: var(--size-2);

	& span {
		display: block;
		padding: var(--size-2) var(--size-2);
		border: var(--size-1) solid var(--primary);
	}
}

.input {
	cursor: pointer;
	width: 100%;
	align-items: center;
	justify-content: center;
	padding: var(--size-2) var(--size-2);
	border: var(--size-1) solid var(--primary);
	color: var(--on-primary);
	font-weight: 600;
	font-size: var(--fluid-font-size-3);

	&:hover {
		animation: var(--animation-zoom);
	}
}

.icon {
	background-color: var(--primary);
	color: var(--on-primary);
	font-weight: 800;
}
