.item {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: var(--size-2) var(--size-4);
	height: 100%;
	gap: 1rem;
	background-color: var(--primary);
	color: var(--on-primary);
	cursor: pointer;
	font-weight: 600;

	&:hover {
		background-color: var(--primary-light);
		color: var(--on-primary-light);
	}
	@media screen and (max-width: 990px) {
		font-size: 2rem;
	}
}
