.button {
	cursor: pointer;
	display: flex;
	max-width: 100%;
	align-items: center;
	justify-content: center;
	gap: var(--size-2);
	padding: var(--size-3) var(--size-8);
	border-radius: var(--radius-2);
	border: var(--size-1) solid var(--secondary);
	background-color: var(--secondary);
	color: var(--on-secondary);
	font-weight: 600;
	font-size: var(--fluid-font-size-3);

	&:hover {
		animation: var(--animation-zoom);
	}
}
